<div class="flex h-screen">
    <!-- Side Panel (1/3 width) -->
    <div class="w-1/5 bg-gray-200 p-4">
      <!-- Your side panel content goes here -->
      <app-user-side-panel (btnSelector)="assignBtnValue($event)"> </app-user-side-panel>
    </div>
  
    <!-- Main Content (2/3 width) -->
    <div class="w-4/5 p-4">
      <!-- Your main content goes here -->
      Main content

      <div [ngSwitch]="selectedNavigationBtn">
        <app-my-reported-items *ngSwitchCase="1">This is the red color content.</app-my-reported-items>
        <app-report-lost-item *ngSwitchCase="2"></app-report-lost-item>
        <app-report-found-item *ngSwitchCase="3">This is the blue color content.</app-report-found-item>
        <p *ngSwitchDefault>This is the default content for other colors.</p>
      </div>
      
    </div>
  </div>
  

